@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "HelveticNeu Medium";
    src: url("../fonts/HelveticaNeueLTStd-Md.eot");
    src: url("../fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Md.svg#HelveticNeu Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticNeu Roman";
    src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
    src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticNeu Roman") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Regular";
    src: url("../fonts/pts55f-webfont.eot");
    src: url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts55f-webfont.woff") format("woff"), url("../fonts/pts55f-webfont.ttf") format("truetype"), url("../fonts/pts55f-webfont.svg#PTSans Regular") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans Bold";
    src: url("../fonts/pts75f-webfont.eot");
    src: url("../fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts75f-webfont.woff") format("woff"), url("../fonts/pts75f-webfont.ttf") format("truetype"), url("../fonts/pts75f-webfont.svg#PTSans Bold") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular-webfont.eot");
    src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#Roboto Regular") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium-webfont.eot");
    src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#Roboto Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #f7f8f8;
    color: #3c4548;
    font: normal 13px/1.538em "PTSans Regular";
}

.bg-color1 {
    background-color: #54c5d0;
}

.bg-color {
    background-color: #54c5d0;
}

.bg-color-t2 {
    background-color: #f7f8f8;
}

.bg-color-t3 {
    background-color: #e8e9e9;
}

.bg-color-t4 {
    background-color: #3f737c;
}

.bg-color-t5 {
    background-color: #f7f8f8;
}

.bg-color-t6 {
    background-color: #dddede;
}

.nav {
    margin: 0;
    padding: 0;
    float: right;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li {
    margin: 0 33px 0 0;
    padding: 0;
    float: left;
    font-family: "Roboto Medium";
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.nav ul li:last-child{
    margin: 0 10px 0 0;
}

.nav ul li a {
    margin: 0;
    padding: 0;
    float: left;
    color: rgba(255, 255, 255, 0.6);
}

.nav ul li:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav ul li.active {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.fa-42 {
    font-size: 42px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa-20 {
    font-family: "PTSans Regular";
    font-size: 20px;
    color: #fff;
    line-height: 25px;
}

.cr {
    position: relative;
    top: -10px;
    font-size: 30px;
    left: -10px;
}

.find-care {
    padding: 18px 60px;
    background-color: #f8565d;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    display: inline-block;
}

.find-care:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.h2 {
    color: #3c4548;
    font-size: 30px;
    font-family: "HelveticNeu Roman";
}

.h3 {
    color: #3c4548;
    font-size: 24px;
    font-family: Gotham, "Roboto Medium", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
}

.h5 {
    color: #3c4548;
    font-size: 24px;
    font-family: "HelveticNeu Medium";
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
}

.h6 {
    color: #3c4548;
    font-size: 30px;
    font-family: Gotham, "HelveticNeu Roman", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.fa-18 {
    font-size: 18px;
    color: #3c4548;
    font-family: "PTSans Regular";
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-38 {
    padding-top: 25px;
	padding-bottom: 6px;
}

.pt-128 {
    padding-top: 128px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-pb {
    padding: 90px 0px 80px 0px
}

.pt1-pb1 {
    padding: 43px 38px 43px 38px
}

.mb-10 {
    margin-bottom: 10px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-right {
    text-align: right;
}

.gray {
    color: #3c4548;
}

.vi {
    width: 25px;
    height: 24px;
}

.wv-txt {
    font-size: 18px;
    font-family: "PTSans Bold";
    font-weight: bold;
    color: #3c4548;
    position: relative;
    top: 4px;
    left: 8px;
    display: inline-block;
}

.call-txt {
    font-size: 18px;
    color: #3c4548;
    position: relative;
    top: 0px;
    left: 8px;
    display: inline-block;
    font-family: "HelveticNeu Medium";
}

.lyc {
    background: #3f737c;
    height: 191px;
}

.bg-white {
    background: #fff;
    padding: 0px 20px;
    height: 191px;
}

.wt-179 {
    width: 179px;
}

.wt-304 {
    width: 304px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ei {
    background: #f8565d;
    height: 191px;
}

.iye {
    background: #54c5d0;
    height: 191px;
}

.input-pd {
    font-size: 16px;
    color: #b3b4b4;
    padding: 6px 12px;
}

.btn-primary {
    background-color: #54c5d0 !important;
    border-color: #54c5d0 !important;
    padding: 8px 55px !important;
    border-radius: 0px !important;
    height: 45px;
}

.form-control {
    padding: 8px;
    height: 45px;
    font-size: 16px;
    color: #b3b4b4;
    border: none;
    border-radius: 0px !important;
}

.fa-16 {
    font-size: 16px;
    font-family: "PTSans Regular";
	line-height:25px;
}

.copyright {
    color: #b1b2b2;
    font-size: 12px;
    font-family: "HelveticNeu Roman";
}

.pt-15 {
    padding-top: 15px;
}

.pr-25 {
    padding-right: 25px;
}



.fixed-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.fixed-top1 {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pull-right {
    float: right !important;
    padding: 10px 15px;
}

.customanim{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #54c5d0;
	transition: all 0.6s linear;
	
}

.fixed {
    background-color: rgba(255,255,255,1); 
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}


.pb-46{padding-bottom:36px;}
.fr-po{position:relative; float:right;}
.col-xs-7{width:62% !important;}
.pd-100{ padding:0 78px !important;}
.ct{ margin:0 auto; width:1200px;}
.nav{margin-right:0px !important;}
.wt-325 {width:27.1%;}


/* ----------- iPhone 4 and 4S ----------- */
@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
and (orientation: landscape) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:50% !important;}
	.nav ul li {
   		margin: 0px 15px 0 0 !important;
	}
	.pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
}


@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
and (orientation:portrait) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:48%;}
	.shadow {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    }
	.pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .pl-138{padding-left:0px !important;}
	  .pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .pl-138{padding-left:0px !important;}
	  .pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

}


/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .pl-138{padding-left:0px !important;}
  .pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  .pl-138{padding-left:0px !important;}
  .pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  .pl-138{padding-left:0px !important;}
  .find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  .pl-138{padding-left:0px !important;}
  .pt-128 {
		padding-top:128px;
	}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
}


@media only screen
and (min-device-width:320px)
and (max-device-width:568px)
and (orientation: landscape) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:50%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{padding-right:10%; padding-top:10%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.ct{ margin:0; width:100%; text-align:center;}
	.text-right {text-align: center;}
	.pb-46 {
		padding-bottom:10px;
	}
	.pt-50 {
		padding-top:20px;
	}
	.pb-80 {
		padding-bottom:20px;
	}
	.nav ul li {
   		margin: 0px 24px 0 0;
	}
	.pr-25{padding-right:10px;}
	
	.shadow {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) !important;
    }
	.btn-primary {
        padding: 8px 50px !important;
        width:100% !important;
    }
	
}

@media only screen
and (min-device-width:320px)
and (max-device-width:568px)
and (orientation: portrait) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:100%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{ padding-right:10%; padding-top:0%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.ct{ margin:0; width:100%; text-align:center;}
	.text-right {
        text-align: center;
    }
	.pb-46 {
		padding-bottom:10px;
	}
	.pt-50 {
		padding-top:20px;
	}
	.pb-80 {
		padding-bottom:20px;
	}
	.nav ul li {
   		margin: 0px 24px 0 0;
	}
	.pr-25{padding-right:10px;}
	
	.shadow {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) !important;
    }
	.pt-128 {
		padding-top:50px;
	}
	
}

@media only screen
and (min-device-width:600px)
and (max-device-width: 1024px)
and (orientation: landscape) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:50%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{ padding-right:10%; padding-top:10%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.ct{ margin:0; width:100%; text-align:center;}
	.text-right {
        text-align: center;
    }
	.pb-46 {
		padding-bottom:10px;
	}
	.pt-50 {
		padding-top:20px;
	}
	.pb-80 {
		padding-bottom:20px;
	}
	
	
}


/* backbeyry (360x640) (portrait)  */
@media only screen
and (min-device-width:360px)
and (max-device-width: 640px)
and (orientation: portrait) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:100%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{ padding-right:10%; padding-top:10%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.pr-25 {
		padding-right: 0px;
	}
}


/* backbeyry (600x1024) (portrait)  */
@media only screen
and (min-device-width:600px)
and (max-device-width: 1024px)
and (orientation: portrait) {
	.pl-138{padding-left:0px !important;}
	.wt-370{ width:50%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{ padding-right:10%; padding-top:0%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.bg-w {
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
	.pr-25 {
		padding-right: 0px;
	}
}

/* backbeyry (600x1024) (landscape)  */
@media only screen
and (min-device-width:600px)
and (max-device-width: 1024px)
and (orientation: landscape) {
	.pl-138{padding-left:0px !important;}
	
	.wt-370{ width:50%;}
	.nav{margin-right: -11px !important;}
	.mb-25{ margin-bottom:20px;}
	.wt-325 {
        width: 100% !important;
    }
	.img-center{ padding-right:10%; padding-top:5%;}
	.fa-42{ text-align:center;}
	.fa-20{ text-align:center;}
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}
	.w-v{width:100%; text-align:center; display:block;}
	.nav{margin-right:0px;}
	.bg-w {
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
	.bg-w{margin-right:4%;}
	.btn-primary {
		padding: 8px 50px !important;
		width: 100%;
	}
	.pr-25 {
		padding-right: 5px;
	}
	
}


/* iPads (portrait)  */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
	.pl-138{padding-left:0px !important;}
	.ct{width:100%; text-align:center;}
    .container-fluid, .container {
        text-align: center;
    }
	.logo1{ text-align:left;}
	.logo2{ text-align:left;}
	
    .nav {
        float: right;
    }

    .nav ul li {
        float: left;
    }
	
	.wt-95{width:95%;}
    .pt-38 {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .wt-370 {
        width: 370px;
    }

    .tal {
        text-align: left;
    }

    .img-pt-50 {
        padding-top: 50px;
    }

    .pt-pb {
        padding: 20px 0px;
    }

    .r-mb-20 {
        margin-bottom: 20px;
    }

    .lyc {
        background: #3f737c;
        height: auto;
    }

    .bg-white {
        background: #fff;
        padding: 0px 20px;
        height: auto;
    }

    .ei {
        background: #f8565d;
        height: auto;
    }

    .iye {
        background: #54c5d0;
        height: auto;
    }

    .bg-w {
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .text-right {
        text-align: center;
    }

    .wt-325 {
        width: 95% !important;
    }

    .btn-primary {
        padding: 8px 50px !important;
        width:100% !important;
    }

    .pb-80 {
        padding-bottom: 30px;
    }

    .pt-50 {
        padding-top: 30px;
    }
	.copyright{text-align:left; padding-left:5%;}
	
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

   /* .shadow {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) !important;
    }*/
	
}


/* iPads (portrait)  */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
	.pl-138{padding-left:0px !important;}
	.pr-25 {
		padding-right: 5px;
	}
	.copyright{text-align:left; padding-left:5%;}
	.ct{width:100%; text-align:center;}
    .container-fluid, .container {
        text-align: center;
    }
	.logo1{ text-align:left;}
	.logo2{ text-align:left;}
	
    .nav {
        float: right;
    }

    .nav ul li {
        float: left;
    }
	
	.wt-95{width:95%;}
	
    .pt-38 {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .wt-370 {
        width:48%;
    }

    .tal {
        text-align: left;
    }

    .img-pt-50 {
        padding-top:5px;
    }

    .pt-pb {
        padding: 20px 0px;
    }

    .r-mb-20 {
        margin-bottom: 20px;
    }

    .lyc {
        background: #3f737c;
        height: auto;
    }

    .bg-white {
        background: #fff;
        padding: 0px 20px;
        height: auto;
    }

    .ei {
        background: #f8565d;
        height: auto;
    }

    .iye {
        background: #54c5d0;
        height: auto;
    }

    .bg-w {
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .text-right {
        text-align: center;
    }

    .wt-325 {
        width: 95% !important;
    }

    .btn-primary {
        padding: 8px 50px !important;
        width:100% !important;
    }

    .pb-80 {
        padding-bottom: 30px;
    }

    .pt-50 {
        padding-top: 30px;
    }
	.find-care{width:100%; padding:20px 0; margin-bottom:40px; text-align:center; display:block;}

   /*.shadow {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) !important;
    }*/
}



@media only screen and (min-width: 360px)and (max-width: 480px) {
	.pl-138{padding-left:0px !important;}
    .btn-primary {
        padding: 8px 50px !important;
        width: 100%;
    }
	.nav{ margin-right:30px; width:90%}	
	.pl-138{padding-left:0px !mportant;}
}


@media only screen and (max-width: 480px) {
	.pl-138{padding-left:0px !mportant;}
    .container-fluid, .container {
        text-align: center;
    }

    .img-pt-50 {
        padding-top: 50px;
    }

    .pt-pb {
        padding: 20px 0px;
    }

    .r-mb-20 {
        margin-bottom: 20px;
    }

    .lyc {
        background: #3f737c;
        height: auto;
    }

    .bg-white {
        background: #fff;
        padding: 0px 20px;
        height: auto;
    }

    .ei {
        background: #f8565d;
        height: auto;
    }

    .iye {
        background: #54c5d0;
        height: auto;
    }

    .bg-w {
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .text-right {
        text-align: center;
    }

    .wt-325 {
        width: 100% !important;
    }

    .btn-primary {
        padding: 8px 50px !important;
        width: 100%;
    }

    .pt-128 {
        padding-top:128px;
    }

    .pb-50 {
        padding-bottom: 20px;
    }

    .pb-80 {
        padding-bottom: 30px;
    }

    .pt-50 {
        padding-top: 30px;
    }

    .pt-38 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .pr-25 {
        padding-right: 0px;
    }

    .pr-5 {
        padding: 10px 5px;
        display: inline-block;
    }

    .nav ul li {
        margin: 0 20px 0 0;
        padding: 0;
    }

    .r-mb-20 {
        margin-bottom: 0px;
    }
	.ct{width:100%;}
	
	.mb-25{ margin-bottom:20px;}
	
}

@media only screen and (min-width:1025px) {
  .shadow {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }	
	
	.wt-325 {
		width: 27.7%;
	}
	
}

@media only screen and (max-device-width:800px) and (orientation: portrait){
.bg-w {
	margin-right:5px;
	}
}


.login-b {
    padding: 2px 40px;
    background-color: #f8565d;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    display: inline-block; border-radius:4px;
}

.login-b:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.wt-350{ width:350px; padding:8px; border-radius:4px; border:none;}
 a.forgot-txt{ text-decoration:underline; color:#fff; font-size:13px; padding-left:125px;}
.fs-20{ font-size:20px; text-align:center; padding:10px 152px; line-height:25px; font-family: "PTSans Regular";}
.plr-152{ padding:50px 120px 30px 120px;}
.mn-top{margin-top:0px !important;}
#main-footer { background-color: #35414a; color: white; font: normal 0.923em/44px HelveticNeu Roman; margin-top:0px; min-height: 44px; }
#main-footer li { display: inline-block; }
#main-footer a { color: white; }
#main-footer a:hover { opacity: 0.8; filter: alpha(opacity=80); }
#main-footer .nav-footer{ margin-left:-39px !important; }
#main-footer .nav-social{ margin-right:39px !important; }
#main-footer .nav-footer > li { margin: 0 15px; }
#main-footer .nav-social > li { margin: 0 3px; }
.ico:before { background: transparent url("../img/icons.png") 0 0 no-repeat; content: " "; display: inline-block; margin: 0 5px; position: relative; top: 3px; }

.ico-linkedin:before { background-position: 0px -52px; height: 18px; width: 18px; }
.ico-twitter:before { background-position: -18px -52px; height: 18px; width: 18px; }
.ico-google:before { background-position: -36px -52px; height: 18px; width: 18px; }
.ico-facebook:before { background-position: -54px -52px; height: 18px; width: 18px; }

.search-block {
    margin-bottom:60px;
    width: 100%;
    clear: both;
}
.search-block > input[type=search] {
    background-color: white;
    border: 1px solid #aeb5bb;
    border-right: none;
    border-radius: 5px 0 0 5px;
    height: 40px;
    width: 73%;
    padding:6px;
}
.search-block > input, .search-block > button {
    float: left;
    }

.search-block > .btn-search {
    border: 1px solid ##f8565d;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 26.5%;
    background-color: #f8565d;    
}
.fs-19{font-size:19px !imporatant;}
.na{cursor: not-allowed !important;}
.pl-138{padding-left:138px;}
.pd-none{padding-right:0px !important;}
.pl-26{padding-left:26px !important;}
.logo-1{width:123px;height:44px;background:url(../img/new-logo.png) no-repeat;display:block;}
.logo-2{width:123px;height:44px;background:url(../img/logo.png) no-repeat;display:block;}
.login-img{width:616px;height:243px;background:url(../img/dg-slider.png) no-repeat;display:block;}
.rating-img{width:28px;height:28px;background:url(../img/rating.svg) no-repeat;display:block;}
.doctor-img{width:28px;height:28px;background:url(../img/doctor.svg) no-repeat;display:block;}
.site-img{width:28px;height:28px;background:url(../img/site.svg) no-repeat;display:block;}
.map-img{width:28px;height:28px;background:url(../img/map.svg) no-repeat;display:block;}
#user-nav .user-menu.global {background-color: transparent;border-color: transparent;border-radius: 0;}
#user-nav .user-menu .user-info img {display: inline-block;float: left;margin-right: 7px;}
#user-nav .user-menu .user-info a {display: inline-block;float: left;line-height: 21px;text-transform: capitalize;}

