html,
body {
	margin:0;
	padding:0;
	height:100%;
}
* { margin: 0; padding: 0; }
@font-face { font-family: "HelveticNeu Medium"; src: url("../fonts/HelveticaNeueLTStd-Md.eot"); src: url("../fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Md.svg#HelveticNeu Medium") format("svg"); font-style: normal; font-weight: normal; }
@font-face { font-family: "HelveticNeu Roman"; src: url("../fonts/HelveticaNeueLTStd-Roman.eot"); src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticNeu Roman") format("svg"); font-style: normal; font-weight: normal; }
@font-face { font-family: "PTSans Regular"; src: url("../fonts/pts55f-webfont.eot"); src: url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts55f-webfont.woff") format("woff"), url("../fonts/pts55f-webfont.ttf") format("truetype"), url("../fonts/pts55f-webfont.svg#PTSans Regular") format("svg"); font-style: normal; font-weight: normal; }
@font-face { font-family: "PTSans Bold"; src: url("../fonts/pts75f-webfont.eot"); src: url("../fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts75f-webfont.woff") format("woff"), url("../fonts/pts75f-webfont.ttf") format("truetype"), url("../fonts/pts75f-webfont.svg#PTSans Bold") format("svg"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Roboto Regular"; src: url("../fonts/roboto-regular-webfont.eot"); src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#Roboto Regular") format("svg"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Roboto Medium"; src: url("../fonts/roboto-medium-webfont.eot"); src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#Roboto Medium") format("svg"); font-style: normal; font-weight: normal; }
body { background-color: #f7f8f8; color: #3c4548; font: normal 13px/1.538em "PTSans Regular";height: 100%;}

h1, h2, h3, h4 { font-weight: normal; }

ul, li { list-style-type: none; }

input, button { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type=button], button { background-color: transparent; border: none; cursor: pointer; }
input[type=search] { color: #35414a; font: normal 1.308em/normal "PTSans Regular"; padding: 0 5px; }
input[type="text"], input[type="email"], input[type="password"], input[type="url"], textarea { background-color: white; border: 1px solid #dee3e8; color: #35414a; font: normal 1.077em/normal "PTSans Regular"; padding: 5px 8px 3px 8px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="url"]:focus, textarea:focus { border-color: #c5ced5; box-shadow: 0 0 1px 1px rgba(222, 227, 232, 0.9); }
input[type="checkbox"] { margin: 0 5px 0 0; }

.hel-rom { font-family: "HelveticNeu Roman"; }
.hel-med { font-family: "HelveticNeu Medium"; }
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.md-title { font-size: 1.846em; line-height: 1.1; }
.lg-title { font-size: 2.615em; line-height: 1.2; }
.vlg-title { font-size: 4.615em; line-height: 1.1; }
.fs-16 { font-size: 1.231em; }
.fs-20 { font-size: 1.538em; }
.fs-22 { font-size: 1.692em; }
.w-16 {width: 16%;}
.w-10 {width: 10% !important;;}
.w-20 {width: 20% !important;;}
.w-30 {width: 30% !important;}
.w-39 {width: 39% !important;}
.w-40 {width: 40% !important;}
.w-42 {width: 42% !important;}
.w-50 {width: 50% !important;}
.w-52 {width: 52% !important;}
.w-55 {width: 52% !important;}
.w-60 {width: 60%;}
.w-75 { width: 75%; }
.w-70 { width: 70%;}
.w-72 { width: 72%;}
.w-85 {width: 85%;}
.w-140{width:140px;}
.w-403{width:403px;}
.mw-240{min-width:240px;}
.mt-20 { margin-top: 20px; }
.mt-10 { margin-top: 10px; }
.mt-5 { margin-top: 5px; }
.mt-8 { margin-top: 8px; }
.mb-0 { margin-bottom: 0 !important; }
.mt-0 { margin-bottom: 0 !important; }
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.ml-60 {margin-left: 60px;}
.ml-145 {margin-left: 145px;}
.ml-192 {margin-left: 192px;}
.pl-20 { padding-left: 20px; }
.pl-40 { padding-left: 40px; }
.mb-20 {margin-bottom: 20px;}
.mr-20 {margin-right: 20px;}
.mr-14 {margin-right: 14px;}

.btn { border: 1px solid transparent; border-radius: 2px; font: normal 1.462em/normal "PTSans Bold"; }
.btn.btn-green { background-color: #54c5d0; border-color: #64c0c9; }
.btn.btn-green:hover, .btn.btn-green:focus { background-color: #54c5d0; }
.btn.btn-green:active, .btn.btn-green:visited { background-color: #54c5d0; }
.btn.btn-sm { color: white; font: normal 1.077em/normal "PTSans Regular"; padding: 3px 30px 2px 30px; -moz-box-shadow: inset 0 2px 0 -1px #54c5d0; -webkit-box-shadow: inset 0 2px 0 -1px #54c5d0; box-shadow: inset 0 2px 0 -1px #54c5d0; }
.btn.btn-fixed { color: white; font: normal 1.077em/normal "PTSans Regular"; min-width: 115px; padding: 3px 10px; text-align: center; }
.btn.btn-blue { background-color: #54c5d0; border-color: #64c0c9; -moz-box-shadow: inset 0 0 0 0 #64c0c9; -webkit-box-shadow: inset 0 0 0 0 #64c0c9; box-shadow: inset 0 0 0 0 #64c0c9; }
.btn.btn-blk { background-color: #54c5d0; border-color: #64c0c9; color: #3c4548; display: block; font: normal 1.077em/normal "HelveticNeu Medium"; padding: 4px 0; text-align: center; -moz-box-shadow: inset 0 0 0 0 #65717a; -webkit-box-shadow: inset 0 0 0 0 #65717a; box-shadow: inset 0 0 0 0 #65717a; }
.btn.btn-lg { color: white; font: normal 1.538em/normal "PTSans Regular"; padding: 5px 45px 4px; -moz-box-shadow: inset 0 2px 0 -1px #cde184; -webkit-box-shadow: inset 0 2px 0 -1px #cde184; box-shadow: inset 0 2px 0 -1px #cde184; }
.btn.btn-dk-blue { background-color: #789bb6; border-color: #65717a; -moz-box-shadow: inset 0 0 0 0 #65717a; -webkit-box-shadow: inset 0 0 0 0 #65717a; box-shadow: inset 0 0 0 0 #65717a; }
.btn-upload{background-color: #ECEEEF;border: 1px solid #D1D8DC;border-radius: 2px;display: inline-block;height: 26px;position: relative;text-align: center;width: 83px;}
.btn.btn-gray { background-color: #eceeef; border-color: #d1d8dc; color: #495458; font-family: "PTSans Regular"; -moz-box-shadow: inset 0 0 0 0 #f4f5f5; -webkit-box-shadow: inset 0 0 0 0 #f4f5f5; box-shadow: inset 0 0 0 0 #f4f5f5; }

.cust-check, .cust-radio { position: relative; display: inline-block; }
.cust-check > .box, .cust-radio > .box { background: transparent url("../images/my-icons.png") -15px -45px no-repeat; display: inline-block; float: left; height: 15px; margin: 2px 10px 0 0; position: relative; width: 15px; }
.cust-check > input[type="checkbox"], .cust-radio > input[type="radio"] { height: 15px; left: 2px; opacity: 0; outline: none; position: absolute; top: -4px; width: 15px; z-index: -99999; }
.cust-check > .box { background: transparent url("../images/my-icons.png") 0 -45px no-repeat; }

.cust-radio > .box { background-position: -90px -45px; margin-top: 1%; }
.cust-radio > input[type="radio"]:checked + .box { background-position: -75px -45px; }

input[type="file"]{cursor: pointer !important; padding:0 40px; display:inline-block; text-algin:center;}
.my-file { position: relative; }
.my-file > input[type="button"] { padding-bottom: 5px; position: absolute; right: 0; top: 0; }

.ico:before { background: transparent url("../images/my-icons.png") 0 0 no-repeat; content: " "; display: inline-block; margin: 0 5px; position: relative; vertical-align: middle; }
.ico-general:before { background-position: 0px 0px; height: 15px; width: 15px; }
.ico-technology:before { background-position: -15px 0px; height: 15px; width: 15px; }
.ico-facility:before { background-position: -30px 0px; height: 15px; width: 15px; }
.ico-hospitality:before { background-position: -45px 0px; height: 15px; width: 15px; }
.ico-insurance:before { background-position: -60px 0px; height: 15px; width: 15px; }
.ico-rating:before { background-position: -75px 0px; height: 15px; width: 15px; }
.ico-photos:before { background-position: -90px 0px; height: 15px; width: 15px; }
.ico-arr-d:before { background-position: -27px -30px; height: 18px; width: 18px; }
.ico-sm-mail:before { background-position: 0px -30px; height: 15px; width: 18px; }
.ico-cal:before { background-position: -75px -30px; height: 15px; width: 16px; }
.ico-search:before { background-position: -30px -61px; height: 14px; width: 18px; }
.ico-hospital:before { background-position: 0px -90px; height: 19px; width: 19px; }
.ico-doctor:before { background-position: -19px -90px; height: 16px; width: 24px; }
.ico-specialities:before { background-position: -45px -90px; height: 23px; width: 15px; }
.ico-arr-common:before { background-position: -95px -77px; height: 10px; width: 10px; }

.active .ico-general:before { background-position: 0px -15px; }
.active .ico-technology:before { background-position: -15px -15px; }
.active .ico-facility:before { background-position: -30px -15px; }
.active .ico-hospitality:before { background-position: -45px -15px; }
.active .ico-insurance:before { background-position: -60px -15px; }
.active .ico-rating:before { background-position: -75px -15px; }
.active .ico-photos:before { background-position: -90px -15px; }
.acc-open .ico-hospital:before { background-position: 0px -85px; height: 19px; width: 19px;}
.acc-open .ico-speciality:before { background-position: 0px -105px; height: 19px; width: 19px;}
.ico-top { background-color: #789bb6; border-radius: 20px; border: 1px solid #727b83; color: white; display: inline-block; font-size: 1.875em; font-style: normal; height: 30px; line-height: 44px; width: 30px; }
.ico-hamburger:before { background-position: -45px -30px; height: 19px; width: 18px; }
.ico-cal { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; margin: 0 0 0 5px; position: relative; height: 29px; top: -1px; width: 29px; }
.ico-cal:before { margin: 0; top: -1px; }
.ico-cal:hover { background-color: #d1d8dc; }
.ico-close:before { background-position: 0px -60px; height: 25px; width: 25px; }
/*.ico-arr-dw:before { background-position: 0px -127px; height: 18px; width: 12px;}
.ico-arr-up:before { background-position: 0px -127px; height: 18px; width: 6px;}
.acc-open .ico-arr-dw:before { background-position: -6px -127px; height: 18px; width: 12px;}
.arrow-up:before { background-position: -28px -30px; height: 18px; width: 17px;}*/



.tooltip { position: relative; }
.tooltip:hover { -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background-color: white; }
.tooltip:hover:before { background-color: white; border: 1px solid #dee3e8; color: #3c4548; content: attr(title); display: inline-block; font-size: 0.923em; left: 12px; padding: 5px 10px; position: absolute; top: -43px; white-space: nowrap; z-index: 1; -moz-box-shadow: 0 2px 2px 1px #b9b9b9; -webkit-box-shadow: 0 2px 2px 1px #b9b9b9; box-shadow: 0 2px 2px 1px #b9b9b9; }
.tooltip:hover:after { background: url("../images/icons.png") -90px -68px no-repeat; bottom: -25px; content: " "; display: inline-block; height: 16px; left: 12px; position: absolute; top: -15px; width: 11px; z-index: 2; }

a { color: #789bb6; text-decoration: none; }
a:hover { color: #99b04a; }
p { padding: 5px 0; }
.fl {float: left;}
.fr {float: right;}
#wrapper {min-height:100%;position:relative;}
.wrap { margin: 0 auto; position: relative; width: 1000px; clear: both; }
.wrap:before, .wrap:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
#container { float: right; width: 77.5%; }

#main-header { background-color: white; border-top: 1px solid #e3e9ee; border-bottom: 1px solid #e3e9ee; min-height: 64px; }
#main-header .logo { display: inline-block; float: left; margin-top: 8px; }
#main-header .search-block { left: 350px; position: absolute; top: 18px; width: 232px; }
#main-header .search-block input[type='text'] { border-right: 0; padding-top: 6px; width: 200px; }
#main-header .search-block button { border-radius: 0 2px 2px 0; width: 32px; }

#main-content { padding: 40px 0 100px 0; clear: both;overflow:auto;display:block;}
#main-content::before { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
#main-content::after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }

.my-form { clear: both; }
.my-form:before, .my-form:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.my-form > li { display: block; padding: 10px 0; position: relative; clear: both; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.my-form > li:before, .my-form > li:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.my-form > li > label { display: inline-block; font: normal 1.077em/normal "PTSans Regular"; float: left; width: 26%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.my-form > li > input[type=password],.my-form > li > input[type=text], .my-form > li > input[type=email], .my-form > li > input[type=url], .my-form > li > textarea, .my-form > li .my-file, .my-form > li .my-file > input[type=text] { color: #718288; margin-top: -6px; width: 74%; }
.my-form > li > input[type=text].no-mt, .my-form > li > input[type=email].no-mt, .my-form > li > input[type=url].no-mt, .my-form > li > textarea.no-mt, .my-form > li .my-file.no-mt, .my-form > li .my-file > input[type=text].no-mt { margin-top: 0; }
.my-form > li > input[type=text].w-16{color: #718288; margin-top: -6px; width: 16%;}
.my-form > li .half { width: 37% !important; }
.my-form > li .detail-half { width: 18% !important; }
.my-form.lbl-100 > li > label { cursor: pointer; width: 100%; }
.my-form.col-2 {border: 1px solid transparent;margin: 10px 0px;padding: 10px;}
.my-form.active {border-color: #E3E9EE;}
.my-form.col-2 > li > label {width: 37%;}
.my-form.col-2 > li {clear: none;}

.my-table > li { margin: 15px 0; clear: both; }
.my-table > li:before, .my-table > li:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.my-table > li:first-child { margin-top: 0; }
.my-table > li strong { display: inline-block; float: left; font: normal 1.154em/normal "PTSans Bold"; width: 24%; }
.my-table > li span { color: #718288; display: inline-block; float: right; font-size: 1.077em; width: 75%; }

.my-btn-block { margin: 30px 0 20px 0; position: relative; }
.my-btn-block > button { margin-left: 15px; }
.my-btn-block.top { position: absolute; top: 0; }
.my-btn-block.bottom { bottom: 0; margin: 0; position: absolute; }
.my-btn-block.single > button { float: none; margin: 0; }
.my-btn-block.single > button + button { clear: left; margin: 15px 0 0 0; }
.my-btn-block > .addrows { margin-left: 0px; }

.data-table { font-size: 1.077em; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.data-table td, .data-table th { font-weight: normal; padding: 5px 0; position: relative; text-align: left; vertical-align: top; }
.data-table th { font: normal 1.154em/normal "HelveticNeu Medium"; }
.data-table input[type=text] { float: left; width: 105px; }
.data-table ul li { padding: 5px 0; }
.data-table ul label { cursor: pointer; }
.data-table .cust-check > .box { margin-right: 10px; }
.data-table .ico-cal { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; margin: 0 0 0 5px; height: 30px; width: 30px; }
.data-table .ico-cal:before { margin: 0; top: -1px; }
.data-table .ico-cal:hover { background-color: #d1d8dc; }

#main-nav { top:19px; font: normal 1em/normal Roboto Regular; position: absolute; right: 0; }
#main-nav > ul > li { display: inline-block; padding-left: 30px; vertical-align:middle;}
#main-nav > ul > li:first-child { padding-left: 0; }
#main-nav > ul > li > a { border-bottom: 1px solid transparent; color: #b9c4ca; display: inline-block; padding-bottom: 0px; text-transform: uppercase; }
#main-nav > ul > li > a:hover, #main-nav > ul > li > a.active { color: #35414a; }
#main-nav > ul > li > a.active { border-bottom-color: #35414a; }
#main-nav .user-menu { background-color: transparent; border-color: transparent; border-radius: 0; position: relative; clear: both; }
#main-nav .user-menu:before, #main-nav .user-menu:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
#main-nav .user-menu .user-info { display: inline-block; float: left; }
#main-nav .user-menu .user-info a { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 3px; color: #3c4548; display: inline-block; float: left; line-height: 24px; margin-right: 5px; text-transform: capitalize; }
#main-nav .user-menu .user-info img { display: inline-block; float: left; margin-right: 7px; }
#main-nav .user-menu .user-info .ico-arr-d { margin-left: 5px; }
#main-nav .user-menu .user-info .ico-sm-mail { border-left: 1px solid #d1d8dc; padding: 0 1px 0 3px; }
#main-nav .user-menu .user-info .user-data { border-radius: 2px; display:none; left: 0px; position: absolute; top: 26px; z-index: 9; width:100%; }
#main-nav .user-menu .user-info .user-data > li { display: block; }
#main-nav .user-menu .user-info .user-data > li:first-child { margin-top: 2px; left:30px;}
#main-nav .user-menu .user-info .user-data a { background-color: #eceeef; color: #3c4548; display: block; float: none; padding: 2px 5px; text-transform: capitalize;  }
#main-nav .user-menu .user-info .user-data a:hover { background-color: #f6f7f7; color: #3c4548; }
#main-nav .user-menu .user-info .user-data.active { display:block; }
#main-nav .user-menu .mails { position: relative;  }
#main-nav > ul > li:last-child { margin-top: 2px; padding-left:0px;}
#main-nav > ul > li a.mails{ background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; padding:3px; position:relative; top:-1px;}
.mails:after { background-color: #54c5d0; border-radius: 20px; content: attr(mails); color: white; font-family: "PTSans Bold"; height: 18px; position: absolute; line-height: 17px; right: -8px; top: -8px; text-align: center; width: 18px; }


#main-footer { background-color: #35414a; color: white; font: normal 0.923em/44px HelveticNeu Roman; min-height:44px; width:100%;position:absolute;	bottom:0;left:0;}
#main-footer li { display: inline-block; }
#main-footer a { color: white; }
#main-footer a:hover { opacity: 0.8; filter: alpha(opacity=80); }
#main-footer .nav-footer > li { margin: 0 15px; }


/**sidebar**/
#sidebar {float: left;width: 21%;}
.my-block { background-color: white; border: 1px solid #dee3e8; margin-bottom: 15px; padding: 15px; clear: both; }
.my-block:before, .my-block:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.my-block.no-pad { padding: 0; }
.my-block .title-in { border-bottom: 1px solid #dee3e8; margin: -15px -15px 15px -15px; padding: 10px 15px; }
.my-block .title-in > a {color:#3c4548;}
.accordion .acc-title { cursor: pointer; font-family: "HelveticNeu Medium"; padding: 10px 0 12px 5px; position: relative; text-transform: uppercase; }
.accordion .acc-title:hover { background-color: #f3f4f4; }
.accordion .acc-title .ico-arr-common { position: absolute; right: 0; top: 7px; }
.accordion .acc-block { border-top: 1px solid #dee4e9; }
.accordion .acc-block:first-child { border: none; }
.accordion .acc-block.acc-open .acc-content { display: block; }
.accordion .acc-block.acc-open .acc-title { background-color: #54c5d0; border-bottom: 1px solid #4cb1bb; color: white; }
.accordion .acc-block.acc-open .acc-title .ico-arr-common:before { background-position: -92px -90px !important; top: 4px !important; }
.accordion .acc-block.acc-open .ico-doctor:before { background-position: -19px -114px; }
.accordion .acc-block.acc-open .ico-hospital:before { background-position: 0 -114px; }
.accordion .acc-block.acc-open .ico-specialities:before { background-position: -45px -114px; }
.accordion .acc-content { display: none; margin: 8px 0 15px 0; }
.accordion .acc-content a { color: #3c4548; display: block; font-size: 1.077em; line-height: 28px; padding: 0 30px 0 5px; }
.accordion .acc-content a:hover { background-color: #f3f4f4; }
.accordion .acc-content .active { background-color: #f3f4f4; }
.accordion .acc-content .active a { cursor: default; }
.accordion.mg-0 { margin-left: -15px; margin-right: -15px; }
.acc-title > a { color:#3c4548; }
.acc-open .acc-title > a { color:#fff; }

.sub-accordion { padding: 10px 0 0 20px; }
.sub-accordion ul { display: none; }
.sub-accordion .sub-open { display: block; }
.sub-accordion .sub-open > ul { display: block; }
.sub-accordion .sub-open > a:before { background-position: -78px -77px; }
.sub-accordion a:hover { background-color: transparent !important; color: #ccc; }
.sub-accordion ul { padding: 0 0 0 20px; }
.sub-accordion li > a { position: relative; }
.sub-accordion li > a:before { background: transparent url("../images/my-icons.png") -95px -77px no-repeat; content: " "; display: inline-block; height: 10px; left: -10px; position: absolute; top: 7px; width: 10px; }

.text-danger{color:#FF0000;}

.loginbox{width:500px;margin:0 auto;}
.my-loginbox{padding:30px;border:solid 3px #f1f1f1;box-shadow:1px 2px 3px 0px #444;}
.form-group{padding-top:10px;}
.text-red{background-color:#F8ACAC;border:1px solid #F8ACAC;}

.row { clear: both; position: relative; }
.row:before, .row:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.row.my-res-col { margin-top: 10px; }
.row.my-res-col > li { background-color: #f3f4f4; display: inline-block; float: left; margin: 12px 0 0 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.row.my-res-col > li:nth-of-type(4n+1) { margin-left: 0; }
.row.my-res-col > li:hover { -moz-box-shadow: 0 2px 2px 0 #c2c2c2; -webkit-box-shadow: 0 2px 2px 0 #c2c2c2; box-shadow: 0 2px 2px 0 #c2c2c2; }
.row.my-res-col > li .row > p { margin-left: 9px; }
.row.my-scroll-block > li { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.row.my-scroll-block > .col-4 { width: 40%; }
.row.my-scroll-block > .col-2 { width: 20%; }
.row.col-4 > li { display: inline-block; float: left; margin: 7px 0; width: 25%; }
.row.col-2 > li { display: inline-block; float: none; width: 48%;}
.row.col-2 > li:nth-of-type(2n) { float: right; width: 52%; height:0px;}

.my-file { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; display: inline-block; height: 26px; position: relative; text-align: center; width: 83px; }
.my-file > input[type="file"] { cursor: pointer; height: auto; overflow: hidden !important; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; width: 83px; }
.my-file:before { content: attr(title); display: block; font: normal 1.077em/26px "PTSans Regular"; left: 0; position: absolute; text-align: center; top: 0; width: 83px; }
.mt-40 {margin-top: 40px;}
.small-nav { position: absolute; right: 6px; top: 2px; }
.small-nav > .ico { border-radius: 1px; cursor: pointer; display: inline-block; height: 20px; width: 20px; }
.small-nav > .ico:before { margin: 0 0 0 1px; }
.small-nav > ul { -moz-box-shadow: 0 2px 2px 1px #b9b9b9; -webkit-box-shadow: 0 2px 2px 1px #b9b9b9; box-shadow: 0 2px 2px 1px #b9b9b9; background-color: white; border: 1px solid #dee4e9; display: none; left: 30px; padding: 5px 10px; position: absolute; top: 9px; z-index: 1; }
.small-nav > ul:before { background: url("../images/icons.png") -178px -70px no-repeat; content: " "; display: inline-block; height: 18px; left: -15px; position: absolute; top: -4px; width: 18px; }
.small-nav > ul > li { white-space: nowrap; }
.small-nav > ul a { color: #3c4548; }
.small-nav > ul a:hover { text-decoration: underline; }
.small-nav:hover > ul { display: block; }
.my-form .fl > li {padding: 5px 0px;}
.my-form > li .half {width: 17% !important;}
.my-form > li .one-third {width: 60% !important;}
.my-form > li .one-fourth {width: 28% !important;}

.overlay { background-color: white; display: block;margin: 0 auto; position: absolute; top: 0px; width: 645px; z-index: 99999; -moz-box-shadow: 0 0 20px 0 black; -webkit-box-shadow: 0 0 20px 0 black; box-shadow: 0 0 20px 0 black; }
.overlay .ico-close { position: absolute; right: 13px; top: 13px; }
.overlay .ico-close:before { display: block; margin: 0; }
.overlay .overlay-header { border-bottom: 1px solid #dee4e9; padding: 20px; background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, #f8f9fb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(100%, #f8f9fb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, #f8f9fb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, #f8f9fb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, #f8f9fb 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, #f8f9fb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f8f9fb',GradientType=0 ); /* IE6-9 */ }
.overlay .overlay-header > h3 { font: normal 1.231em/normal "HelveticNeu Medium"; }
.overlay .overlay-content { padding: 10px 30px; clear: both; position: relative; }
.overlay .overlay-content:before, .overlay .overlay-content:after { clear: both; content: "\0020"; display: block; height: 0; overflow: hidden; visibility: hidden; }
.overlay.o-sm {width: 645px; }
.hide{display:none !important;}
.upload-content{height:393px;}

.my-scroll { border: 1px solid #e5eaef; height: 350px; margin: 10px 0 0 0; overflow-y: hidden; }
.my-list { color: #718288; font-size: 1.077em; margin: 10px 0; }
.my-list > li { cursor: pointer; padding: 1px 10px; }
.my-list > li:hover { background-color: #f3f4f4; }

.borderRadius { -moz-border-radius: 5px; border-radius: 5px; }

.borderRadiusTp { -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

.borderRadiusBtm { -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }

.ddcommon { position: relative; display: -moz-inline-stack; zoom: 1; display: inline-block; *display: inline; cursor: default; }

.ddcommon ul { padding: 0; margin: 0; }

.ddcommon ul li { list-style-type: none; }

.borderRadiusTp ul li:last-child { border-bottom: 0 none #c3c3c3; }

.borderRadiusBtm ul li:first-child { border-bottom: 1 solid #c3c3c3; }

#slctHlCity_msdd ul { padding: 0 !important; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll { opacity: .5; /* standard: ff gt 1.5, opera, safari */ -ms-filter: "alpha(opacity=50)"; /* ie 8 */ filter: alpha(opacity=50); /* ie lt 7 */ -khtml-opacity: .5; /* safari 1.x */ -moz-opacity: .5; /* ff lt 1.5, netscape */ color: #999999; }

.ddcommon .clear { clear: both; }

.ddcommon input.text { padding: 0 0 0 0; position: absolute; width: 100%; height: 98%; left: 0px; top: 0; border: none; font-size: 12px; color: #333; padding-left: 4px; }

.ddOutOfVision { position: relative; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; }

.borderRadius .shadow { -moz-box-shadow: 5px 5px 5px -5px #888888; -webkit-box-shadow: 5px 5px 5px -5px #888888; box-shadow: 5px 5px 5px -5px #888888; }

.borderRadiusBtm .shadow { -moz-box-shadow: -5px -5px 5px -5px #888888; -webkit-box-shadow: -5px -5px 5px -5px #888888; box-shadow: -5px -5px 5px -5px #888888; }

.borderRadiusBtm .border { -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

img.fnone { float: none !important; }

.ddcommon .divider { width: 0; height: 100%; position: absolute; border-left: 1px solid #fff; border-right: 1px solid #d3d9dd; right: 30px; top: 2px; }

.ddcommon .ico-arr-d { display: inline-block; position: absolute; top: 24%; right: 0; }

.ddcommon .ddArrow:hover { background-position: 0 100%; }

.ddcommon .ddTitle { padding: 0; position: relative; display: inline-block; width: 100%; }

.ddcommon .ddTitle .ddTitleText { display: block; }

.ddcommon .ddTitle .ddTitleText .ddTitleText { padding: 0; }

.ddcommon .ddTitle .description { display: block; }

.ddcommon .ddTitle .ddTitleText img { position: relative; vertical-align: middle; float: left; }

.ddcommon .ddChild { position: absolute; display: none; width: 100%; overflow-y: auto; overflow-x: hidden; zoom: 1; z-index: 9999; -webkit-overflow-scrolling: touch; }

.ddcommon .ddChild li { clear: both; }

.ddcommon .ddChild li .description { display: block; }

.ddcommon .ddChild li img { border: 0 none; position: relative; vertical-align: middle; float: left; }

.ddcommon .ddChild li.optgroup { padding: 0; }

.ddcommon .ddChild li.optgroup .optgroupTitle { padding: 0 5px; font-weight: bold; font-style: italic; }

.ddcommon .ddChild li.optgroup ul li { padding: 5px 5px 5px 15px; }

.ddcommon .ddChild li.optgroup ul li:hover { background-color: #3399FF; color: #FFFFFF !important; }

.ddcommon .noBorderTop { border-top: none 0  !important; padding: 0; margin: 0; }

/*************** default theme **********************/
.dd { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; color: #666666; cursor: pointer; height: 27px; position: relative; text-align: left;}

.dd .ddTitle .ddTitleText { padding: 4px 20px 0 8px; z-index: 999999; }

.dd .ddTitle .ddTitleText .ddTitleText { padding: 0; }

.dd .ddTitle .description { font-size: 12px; color: #666; }

.dd .ddTitle .ddTitleText img { padding-right: 5px; }

.dd .ddChild { margin: 0 0; padding: 0 0; list-style: none; border: 1px solid #d1d8dc; border-radius: 3px; background-color: #eceeef; left: -1px; }

.dd .ddChild li { padding: 3px 10px; background-color: #eceeef; display: block; margin-bottom: 1px; text-align: left; }

.exploreNav .dd .ddChild li { *margin-bottom: -2px; }

.dd .ddChild li:hover { background-color: #f4f4f4; }

.dd .ddChild li.optgroup:hover { background-color: #f4f4f4; }

.dd .ddChild li .description { color: #666; }

.dd .ddChild li img { padding: 0 6px 0 0; }

.dd .ddChild li.optgroup { padding: 0; }

.dd .ddChild li.optgroup .optgroupTitle { padding: 5px; font-weight: bold; font-style: italic; display: block; border-bottom: 1px solid #E6E6E6; background: #e5e6e7; }

.dd .ddChild li.optgroup ul li { padding: 5px 5px 5px 15px; }

.dd .ddChild li.selected { background-color: #f4f4f4; }

#more_search_options .flLI .dd .ddChild { height: 138px !important; }

.ddSpinnerMain .ddSpinnerMinus, .ddSpinnerMain .ddSpinnerPlus { cursor: pointer; top: 0; width: 22px; height: 30px; position: absolute; background: url("../images/spinner-arrows.png") no-repeat -24px -20px white; border: 1px solid #cdcecf; }

.ddSpinnerMain .ddSpinnerMinus { left: -3px; }

.ddSpinnerMain .ddSpinnerMinus:hover { background-position: -56px -20px; }

.ddSpinnerMain .ddSpinnerMinus.disabled { background-position: 8px -20px; cursor: default; }

.ddSpinnerMain .ddSpinnerPlus { right: -3px; background-position: 7px 11px; }

.ddSpinnerMain .ddSpinnerPlus:hover { background-position: -57px 11px; }

.ddSpinnerMain .ddSpinnerPlus.disabled { background-position: -25px 11px; cursor: default; }

.ddSpinnerMain .ddTitle .ddTitleText { text-align: center; padding: 0; line-height: 30px; background: #fff !important; width: 67px; border: 1px solid #cdcecf; border-left-width: 0; border-right-width: 0; border-radius: 0 !important; }

.ddSpinnerMain { padding: 0; width: auto !important; border: 0 !important; }

/*    if border box is enabled on all elements, then also do not apply on spinner  */
.ddSpinnerMain * { box-sizing: content-box !important; }

.select-width-72{width:72%;}
.listbox{width:100%;height:100%;}
.search-block {padding-right: 29px;position: relative;}
.search-block > button { border-radius: 0; position: absolute; right: 0; top: 0; }
.search-block > button:before { margin: 0 2px; }
.my-table { background-color: white; border: 1px solid #e8edf1; border-bottom: none; width: 100%; table-layout:fixed; }
.my-table a { color: #3c4548; text-decoration: none; }
.my-table a:hover { color: #4cb1bb; }
.my-table th, .my-table td { font: normal 1.077em/normal "PTSans Regular"; padding: 6px 10px; text-align: left;text-overflow:ellipsis;white-space:pre-line;overflow:hidden;}
.my-table th { background-color: #eceeef; border-bottom: 1px solid #e8edf1; border-right: 1px solid #f8f9f9; border-left: 1px solid #dce1e4; }
.my-table td { border-bottom: 1px solid #e8edf1; border-right: 1px solid white; border-left: 1px solid #e8edf1; }
.my-table tr > th:first-child, .my-table tr > td:first-child { border-left: none; }
.my-table tr > th:last-child, .my-table tr > td:last-child { border-right: none; }
.my-table tr:hover td { background-color: #f8f8f8; }
.hidemethod{display:none;}
.hideupload{display:none;}
.addrows,.deleterow{cursor:pointer;}

.scroll-top{margin:30px 0px 0px !important;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.scroll-top{margin:10px 0px 0px !important;}
.top-mr{ positon:absolute; top:-10px!important;;}
}

.error-msgbox{background:#f8f2f2;}
.error-msgbox p{width:1000px; margin:0 auto; padding:8px 4px; overflow:hidden; color:#c69598; font-size:16px;}
.error-msgbox p i.error-icon{width:33px; height:33px; background: transparent url("../images/error-icons.gif") 0 -33px no-repeat; display:inline-block; float:left;}
.error-msgbox p span{ position:relative; top:8px; left:8px;}
.success-msgbox{background:#edf9ef;}
.success-msgbox p{width:1000px; margin:0 auto; padding:8px 4px; overflow:hidden; color:#a1c8ab; font-size:16px;}
.success-msgbox p i.sucess-icon{width:33px; height:33px; background: transparent url("../images/error-icons.gif") 0 0 no-repeat; display:inline-block; float:left;}
.success-msgbox p span{ position:relative; top:8px; left:8px;}
.br-red{ border-color:red !important;}
.txt-color{color:red !important; font-style:italic;}
.login-error-msgbox{background:#f8f2f2;}
.login-error-msgbox p{width:100%; margin:0 auto; padding:8px 4px; overflow:hidden; color:#c69598; font-size:16px;}
.login-error-msgbox p i.error-icon{width:33px; height:33px; background: transparent url("../images/error-icons.gif") 0 -33px no-repeat; display:inline-block; float:left;}
.login-error-msgbox p span{ position:relative; top:8px; left:8px;}

label.error { width: 100% !important; display: block; float: left; color: #FF0000; padding-left: 145px; }
input.error,select.error,file.error,textarea.error{ border-color:#FF0000;} 
.insurance-file:before{left:-6px !important;top:1px !important;}
.insurance-file{ 
	width:69px !important;height:26px !important; position:relative; 
	top:1px;
}
.resetform > ul > li > label.error { width: 100% !important;float: left; color: #FF0000;padding-left: 0px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.insurance-file{ 
	width:69px !important;height:26px !important; position:relative; 
	top:3px;
}


}

.practitioner-detail-error{padding-left: 193px !important;}
.pl0{padding-left:0px !important;}
.error{color: #FF0000;}
.ml192{margin-left:192px;}
.my-insurance-file > input[type=file] { color: #718288; margin-top: -6px; width: 74%; }
.my-insurance-file { position: relative; }
.my-insurance-file > input[type="button"] { padding-bottom: 5px; position: absolute; right: 0;}
.my-insurance-file { background-color: #eceeef; border: 1px solid #d1d8dc; border-radius: 2px; display: inline-block; height: 26px; position: relative; text-align: center; width: 83px; }
.my-insurance-file > input[type="file"] { cursor: pointer; height: 26px; overflow: hidden !important; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; width: 83px; }
.my-insurance-file:before { content: attr(title); display: block; font: normal 1.077em/26px "PTSans Regular"; left: 0; position: absolute; text-align: center;width: 83px; }
.imgname{text-overflow: ellipsis; /* will make [...] at the end */
    width: 170px !important; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */}
 .imgname1{text-overflow: ellipsis; /* will make [...] at the end */
    width: 350px !important; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */}
