<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::page">
<body>
	<main id="main-content" th:fragment='content'>	
	  <div class="wrap">
			<aside th:replace="fragments/sidebar :: sidebar"></aside>
			<div id="container">
				<div class="my-block">
				<form th:action="@{/home/specialty-treatment-method-practitioner}" th:object="${hospitalSpecialtyTreatmentMethodPractitionerForm}" method="post">
					<h3 class="hel-med fs-16 title-in">
						<span th:text="#{page.hospital.treatment.specialty_of}">Specialty of</span>						
						<span th:text="${specialtyMap.get(hospitalSpecialtyTreatmentMethodPractitionerForm.specialty)}">Aesthetics</span>
						<span>&gt;</span>
						<span th:text="${treatmentMap.get(hospitalSpecialtyTreatmentMethodPractitionerForm.treatment)}">Aesthetics</span>
						<span th:text="#{page.hospital.method.treatment}"></span>
						<span>&gt;</span>
						<span th:text="${methodMap.get(hospitalSpecialtyTreatmentMethodPractitionerForm.method)}">Aesthetics</span>	                    
					</h3>
					<h3 class ="" th:if="${currencyerror !=null}">						
						<span th:text="#{page.hospital.failed.currency}" class="text-danger"></span>
					</h3>					
					<p th:text="#{page.hospital.specialties.treatment.method_practitioner.please_select}"></p>					 
					 		<input type="hidden" th:field="*{healthcareproviderSpecialty}"/>
					 		<input type="hidden" th:field="*{healthcareproviderSpecialtyTreatmentMethod}"/>
					 		<input type="hidden" th:field="*{treatment}"/>
					 		<input type="hidden" th:field="*{method}"/>
					 		<input type="hidden" th:field="*{specialty}"/>
					 		<ul class="my-form mt-20">                            
                                <li>                                	
                                    <label for="healthcareproviderPrice" th:text="#{page.hospital.treatment.method.helathcareprovider_price}">Hospital Price:</label>
                                    <input type="text" th:field="*{healthcareproviderPrice}" class="one-third"/>                                    
                                </li>
                            </ul>
                            <ul class="my-form mt-20">
                                <li>
                                    <ul class="row my-scroll-block">
                                        <li class="fl w-40 pr-20">
                                            <h3 class="hel-med fs-16" th:text="#{page.hospital.treatment.method.practitioner.suggested_doctors}">Suggested Methods:</h3>
                                            <div class="my-scroll">
                                                <select th:field="*{practitioner}" multiple="multiple" class="mylistbox listbox">
                                                	<optgroup th:label="${specialtyMap.get(hospitalSpecialtyTreatmentMethodPractitionerForm.specialty)}">                                                  
                                                  		<option th:each="practitioner : ${hospitalSpecialtyPractitionerList}" th:value="${{practitioner.id}}" th:text="${practitioner.title +' '+practitioner.firstName}">Alderaan</option>
                                                  	</optgroup>
                                                  	<optgroup label="Others">
											      		<option th:each="practitioner : ${hospitalOtherSpecialtyPractitionerList}" th:value="${{practitioner.id}}" th:text="${practitioner.title +' '+practitioner.firstName}">Alderaan</option>
											      </optgroup>								                                              
                                                </select>
                                            </div>
                                        </li>
                                        <li class="fl tc w-20">
                                            <div class="my-btn-block top single w-20">
                                                <button class="btn btn-fixed btn-gray addbtn" type="button" th:text="#{page.hospital.btn_add}">Add &gt;</button>
                                                <button class="btn btn-fixed btn-gray removebtn" type="button" th:text="#{page.hospital.btn_remove}">&lt; Remove</button>
                                            </div>
                                            <div class="my-btn-block bottom single w-20">
                                                <button class="btn btn-fixed btn-gray addallbtn" type="button" th:text="#{page.hospital.btn_add_all}">Add all</button>
                                                <button class="btn btn-fixed btn-gray removeallbtn" type="button" th:text="#{page.hospital.btn_remove_all}">Remove all</button>
                                            </div>
                                        </li>
                                        <li class="fr w-40 pl-20">
                                            <h3 class="hel-med fs-16">
                                            	<span th:text="#{page.hospital.treatment.method.practitioner.available_doctors}">Available</span>                                            	
                                            </h3>
                                            <div class="my-scroll">
                                                <select th:field="*{selectedPractitioner}" multiple="multiple" class="mylistbox1 listbox">
                                                	<option th:each="selectedPractitioner : ${selectedPractitionerList}" th:value="${{selectedPractitioner.id}}" th:text="${selectedPractitioner.title +' '+selectedPractitioner.firstName}">Alderaan</option>                                                												      											     
											    </select>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tc my-btn-block">
                                <button class="btn btn-sm btn-dk-blue btn-cancel" type="button" th:text="#{page.hospital.btn_cancel}">Cancel</button>
                                <button class="btn btn-sm btn-blue btn-list-submit" type="submit" th:text="#{page.hospital.btn_save_changes}">Save Changes</button>
                            </div>
                        </form>
				</div>	
			</div>
	</div>
	</main>
</body>
</html>			