<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout::page" class='sidebar-large'>
<div class="container" th:fragment="content">					
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
                                        <div class="panel-heading" th:if="${message} != null">
						<h3 class ="panel-title"><strong th:text="${message}"></strong></h3>
					</div>
					<div class="panel-heading bg-red">
						<h3 class ="panel-title"><strong th:text="#{page.heading.practitioner}">Practitioner</strong></h3>
					</div>
					<div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 m-b-20">
                                    <div class="btn-group">
                                       <a id="table-edit_new" class="btn btn-danger" th:href="@{'/practitioner/edit'}">
                                            Add New <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                      <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                            <table class="table table-striped table-hover dataTable" id="table-editable">          
								<thead>
									<tr>
										<th th:text="#{practitioner.id}">id</th>
							<th th:text="#{practitioner.title}">title</th>
							<th th:text="#{practitioner.first_name}">first_name</th>
							<th th:text="#{practitioner.last_name}">last_name</th>
							<th th:text="#{practitioner.dob}">dob</th>
							<th th:text="#{practitioner.gender}">gender</th>
							<th th:text="#{practitioner.mobile}">mobile</th>
							<th th:text="#{practitioner.email}">email</th>
							<th th:text="#{practitioner.phone}">phone</th>
							<th th:text="#{practitioner.address1}">address1</th>
							<th th:text="#{practitioner.address2}">address2</th>
							<th th:text="#{practitioner.zip_code}">zip code</th>
							<th th:text="#{practitioner.photo}">photo</th>
							<th th:text="#{practitioner.description}">description</th>
							<th th:text="#{practitioner.password}">password</th>
							<th th:text="#{practitioner.usa_certification}">usa_certification</th>
							<th th:text="#{practitioner.usa_training}">usa_training</th>
							<th th:text="#{practitioner.graduation_dt}">graduation_dt</th>
							<th th:text="#{practitioner.graduation_institution}">graduation_institution</th>
							<th th:text="#{practitioner.specialty_dt}">specialty_dt</th>
							<th th:text="#{practitioner.specialty_institution}">specialty_institution</th>
							<th th:text="#{practitioner.type}">type</th>
							<th th:text="#{practitioner.role}">role</th>
							<th th:text="#{practitioner.degree}">degree</th>
							<th th:text="#{practitioner.city}">city</th>							
							<th class="text-center sorting" th:text="#{page.text.options}">Options</th>
						</tr>
								</thead>
						<tbody>							
								<tr th:each="model :${models}">
								<td th:text="${model.id}"></td>
								<td th:text="${model.title}"></td>
								<td th:text="${model.firstName}"></td>
								<td th:text="${model.lastName}"></td>
								<td th:text="${model.dob}"></td>
								<td th:text="${model.gender}"></td>
								<td th:text="${model.mobile}"></td>
								<td th:text="${model.email}"></td>
								<td th:text="${model.phone}"></td>
								<td th:text="${model.address_1}"></td>
								<td th:text="${model.address_2}"></td>
								<td th:text="${model.zipCode}"></td>
								<td th:text="${model.photo}"></td>
								<td th:text="${model.description}"></td>
								<td th:text="${model.password}"></td>
								<td th:text="${model.usaCertification}"></td>
								<td th:text="${model.usaTraining}"></td>
								<td th:text="${model.graduationDt}"></td>
								<td th:text="${model.graduationInstitution}"></td>
								<td th:text="${model.specialtyDt}"></td>
								<td th:text="${model.specialtyInstitution}"></td>
								<td th:text="${model.type}"></td>
								<td th:text="${model.role}"></td>
								<td th:text="${model.degree}"></td>
								<td th:text="${model.city}"></td>
								
								<td class="text-center">
								<a class="edit btn btn-dark" th:href="@{'/practitioner/edit'(id=${model.id})}"><i class="fa fa-pencil-square-o"></i>
								Edit
								</a>								
								<a class="delete btn btn-danger" th:href="@{'/practitioner/delete'(id=${model.id})}">
								<i class="fa fa-times-circle"></i>
								Remove								
								</a>
								</td>
								</tr>							
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
</div>
</html>
