<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout::page"
	class='sidebar-large'>
<div class="container" th:fragment="content">
	<div class="page-title">
		<i class="icon-custom-left"></i>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading bg-red">
					<h3 class="panel-title">
						<strong
							th:text="#{page.heading.healthcareprovider-specialty-treatment-method-practitioner}">healthcareprovider-specialty-treatment-method-practitioner</strong>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<form action="#"
								th:action="@{/healthcareprovider-specialty-treatment-method-practitioner/save}"
								th:object="${healthcareproviderSpecialtyTreatmentMethodPractitioner}"
								method="post"
								id="healthcareprovider-specialty-treatment-method-practitioner"
								class="form-horizontal">
								<div class="form-group">
									<ul>
										<li th:each="e : ${#fields.detailedErrors()}"
											th:class="${e.global}? globalerr : fielderr"><span
											class='text-danger' th:text="${e.global}?'*':${e.fieldName}">The
												field name </span> | <span class='text-danger'
											th:text="${e.message}">The error message</span></li>
									</ul>
									<div
										th:errors="${healthcareproviderSpecialtyTreatmentMethodPractitioner}"></div>
								</div>
								<input type="hidden" class="form-control" th:field="*{id}"
									th:value="*{id}" />
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Years_practiced</label>
									<div class='col-sm-9'>
										<input type="text" class='form-control'
											th:field="*{yearsPracticed}" th:value="*{yearsPracticed}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Number_performed_overall</label>
									<div class='col-sm-9'>
										<input type="text" class='form-control'
											th:field="*{numberPerformedOverall}"
											th:value="*{numberPerformedOverall}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Number_performed_last_year</label>
									<div class='col-sm-9'>
										<input type="text" class='form-control'
											th:field="*{numberPerformedLastYear}"
											th:value="*{numberPerformedLastYear}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Corrections_last_year</label>
									<div class='col-sm-9'>
										<input type="text" class='form-control'
											th:field="*{correctionsLastYear}"
											th:value="*{correctionsLastYear}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Availability_days</label>
									<div class='col-sm-9'>
										<input type="text" class='form-control'
											th:field="*{availabilityDays}" th:value="*{availabilityDays}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Currency<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{currency}" th:value="*{currency}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>healthcareprovider_price<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{healthcareproviderPrice}" th:value="*{healthcareproviderPrice}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Practitioner_price<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{practitionerPrice}"
											th:value="*{practitionerPrice}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Anesthesia_price<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{anesthesiaPrice}" th:value="*{anesthesiaPrice}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Active<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<select th:field="*{active}" class="form-control">
											<option th:value="1" th:text="Yes"></option>
											<option th:value="0" th:text="No"></option>
										</select>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Practitioner<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<select th:field="*{practitioner}" class="form-control">
											<option th:each="var : ${practitionerList}"
												th:value="${var.id}" th:text="${var.firstName}"></option>
										</select>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>healthcareprovider_specialty_treatment_method<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<select th:field="*{healthcareproviderSpecialtyTreatmentMethod}"
											class="form-control">
											<option
												th:each="var : ${healthcareproviderSpecialtyTreatmentMethodList}"
												th:value="${var.id}" th:text="${var.id}"></option>
										</select>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label' th:text="#{healthcareprovider-specialty-treatment-method-practitioner.Corporatecompany_insurance}">
									</label>
									<div class='col-sm-9'>
										<select th:field="*{corporatecompanyInsurance}" class="form-control">
											<option value="">None</option>
											<option th:each="var : ${corporatecompanyInsuranceList}"
												th:value="${var.id}" th:text="${var.programName}"></option>
										</select>
									</div>
								</div>
								
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Verified<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<select th:field="*{verified}" class="form-control">
											<option th:value="1" th:text="Yes"></option>
											<option th:value="0" th:text="No"></option>
										</select>
									</div>
								</div>

								<div class="col-sm-9 col-sm-offset-3">
									<div class="pull-right">
										<button class="btn btn-primary m-b-10"
											onclick="javascript:$('#healthcareprovider-specialty-treatment-method-practitioner').parsley('validate');"
											th:text="#{page.button.submit}">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
