<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
		<meta charset="utf-8"/>
        <title th:text="#{page.title}">DoctorGlobe</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" th:href="@{/resources/styles/jquery-ui.css}"/>
        <link rel="stylesheet" th:href="@{/resources/styles/style.css}"/>              
        <link rel="stylesheet" th:href="@{/resources/styles/tooltipster/tooltipster.css}"/>
        <link th:href="@{/webjars/fancybox/2.1.5/jquery.fancybox.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>      	
		<script th:src="@{/resources/scripts/jquery-ui.js}"></script>
		<script th:src="@{/webjars/jquery-validation/1.11.1/jquery.validate.js}"></script>		
	  	<script th:src="@{/webjars/fancybox/2.1.5/jquery.fancybox.js}"></script>
	  	<script type="text/javascript" th:src="@{/resources/scripts/tooltipster/jquery.tooltipster.min.js}"></script>
	  	<script type="text/javascript" th:src="@{/resources/scripts/timezones.full.min.js}"></script>
	  	<script type="text/javascript" th:src="@{/resources/scripts/web.js}"></script>	  	
</head>
<body th:class="page-common">
	<div id="wrapper">
		<header th:replace="fragments/header :: header"></header>
		<div class="error-msgbox" th:if="${error != null and loginerror != 1}">
            <p>	<i class="error-icon"></i>
            	<span th:if="${loginerror != 1}" th:text="#{page.doctor.success.failed}"></span>            	
            </p>
        </div>		
        <div class="success-msgbox" th:if="${success != null}">
            <p><i class="sucess-icon"></i><span th:text="#{page.doctor.success.edited}"></span></p>
        </div>		
		<main th:include="this::content" id="main-content"></main>	
		<footer th:replace="fragments/footer :: footer"></footer>
		<div class="overlay-bg"></div>
	</div>	   	
</body>
</html>