<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout::page"
	class='sidebar-large'>
<div class="container" th:fragment="content">
	<div class="page-title">
		<i class="icon-custom-left"></i>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading bg-red">
					<h3 class="panel-title">
						<strong th:text="#{page.heading.healthcareprovider-unit-feature}">healthcareprovider-unit-feature</strong>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<form action="#" th:action="@{/healthcareprovider-unit-feature/save}"
								th:object="${healthcareproviderUnitFeature}" method="post"
								id="healthcareprovider-unit-feature" class="form-horizontal">
								<div class="form-group">
									<ul>
										<li th:each="e : ${#fields.detailedErrors()}"
											th:class="${e.global}? globalerr : fielderr"><span
											class='text-danger' th:text="${e.global}?'*':${e.fieldName}">The
												field name </span> | <span class='text-danger'
											th:text="${e.message}">The error message</span></li>
									</ul>
									<div th:errors="${healthcareproviderUnitFeature}"></div>
								</div>
								<input type="hidden" class="form-control" th:field="*{id}"
									th:value="*{id}" />
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Description<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{description}" th:value="*{description}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>Feature<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
                                              <select th:field="*{feature}" class="form-control">
                                                <option th:each = "var : ${featureList}" th:value="${var.id}" th:text="${var.name}"></option>
                                              </select>                                                                                                
                                            </div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>healthcareproviderunit<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
                                              <select th:field="*{healthcareproviderunit}" class="form-control">
                                                <option th:each = "var : ${healthcareproviderunitList}" th:value="${var.id}" th:text="${var.name}"></option>
                                              </select>                                                                                                
                                    </div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'>healthcareprovider<span
										class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
                                              <select th:field="*{healthcareprovider}" class="form-control">
                                                <option th:each = "var : ${healthcareproviderList}" th:value="${var.id}" th:text="${var.name}"></option>
                                              </select>                                                                                                
                                            </div>
								</div>


								<div class="col-sm-9 col-sm-offset-3">
									<div class="pull-right">
										<button class="btn btn-primary m-b-10"
											onclick="javascript:$('#healthcareprovider-unit-feature').parsley('validate');"
											th:text="#{page.button.submit}">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
