<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layoutcontext::page" class='sidebar-large'>
<body>
	<div th:fragment='content'>
		<div class="overlay o-sm my-calender-overlay">
			<div class="overlay-header bg">
				<h3 th:text="#{page.doctorarea.mycalender}">My Calender:</h3>
				<button class="ico ico-close btn btn-blue fancyclose"></button>
			</div>
			<div class="overlay-content" th:if="${patientConferenceList != null}">				
				<h3 class="mt-10" th:text="#{page.doctorarea.scheduled_conference_call}">Scheduled Conference Calls:</h3>
				<ul class="row col-2 gt-10 mt-10">
					<li>
						<article class="com-block no-pad" th:each="p :${patientConferenceList}" th:if="${p.conferenceDt.toString() != '1970-01-01 00:00:00.0'}">
							<p>
								<strong th:text="${#dates.format(p.conferenceDt,'yyyy-M-dd HH:mm')}"></strong>
							</p>
							<p><span th:text="#{page.doctorarea.scheduled_call_with}"></span><span th:text="${' '+p.name}"></span></p>
						</article>							
					</li>					
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
