<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="layouts/layoutcontext::page" class='sidebar-large'>
<body th:class="page-common">	 
	<main id="main-content" th:fragment='content'>
	<header id="main-header">
            <div class="wrap">
                <a th:href="@{/}" class="logo"></a>             
            </div>
    </header>
	<div class="wrap padding-10">
	<div class='resetbox'>          
          <div class=" my-loginbox my-block my-block-padding" th:if="${error != false}">
           <form name="forgotform" id="forgotform" class="form-block" th:object="${resetform}" method='post' th:action="@{/reset}">                
                <ul>                    
                    <li>
                        <label for="newPassword" th:text="#{reset.new_password}"></label>
                        <input type="password" th:field="*{newPassword}" />                        
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{oldPassword}" />
                        <input type="hidden" th:field="*{type}" />
                        <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:class="error"></label>                        
                    </li>
                    <li>
                    	<label for="confirmPassword" th:text="#{reset.confirm_password}"></label>
                    	<input type="password" th:field="*{confirmPassword}" />                    
                    	<label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:class="error"></label>
                    </li>
                    <li>                    	
                        <br/>
                        <button type="submit" class="btn btn-green btn-sm" th:text="#{forgot.submit}"></button>
                    </li>                    
                </ul>                             
            </form>     
            <p th:if="${error == true}">
            	<p th:text="#{resetpassword.sessior_error}"></p>
           		<a th:href="@{${currentUrl}}" th:text="#{resetpassword.clickhere}"></a>
           	</p>
          </div>        
          <div class="my-block my-block-padding" th:if="${error == false}">
           <p th:text="#{resetpassword.success_msg}"></p>
           <a th:href="@{${currentUrl}}" th:text="#{resetpassword.clickhere}"></a>
          </div>
          
          <script type="text/javascript" th:inline='javascript'>
			 $(document).ready(function() {
				 $.validator.addMethod("passwordChecker",function(value){
					 var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
					 return re.test(value);  
				 });
				 $( "#forgotform" ).validate({
					 	rules: {					 		
					 		newPassword: {
					 			required: true,
					 			minlength: 6,
					 			passwordChecker : true
					 		},
					 		confirmPassword: {
					 			required: true,
					 			minlength: 6,
					 			passwordChecker : true,
					 			equalTo: "#newPassword"
					 		}
					 	},
					 	messages: {
					 		newPassword: {
					            required: "Please provide a password",
					            minlength: "Your password must be at least 6 characters long",
					            passwordChecker: "Your password must contain atleast one number, one lowercase and one uppercase letter or the underscore"
					        },
					        confirmPassword: {
					            required: "Please provide a password",
					            minlength: "Your password must be at least 6 characters long",
					            passwordChecker: "Your password must contain atleast one number, one lowercase and one uppercase letter or the underscore",
					            equalTo: "Please enter the same password as above"
					        },
					    },
					    submitHandler: function(form){
							form.submit();
						}
				});							
			 });
		 </script>
		</div>                 
    </div>              	
	</main>
</body>
</html>	