<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout::page" class='sidebar-large'>
<div class="container" th:fragment="content">					
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
                                        <div class="panel-heading" th:if="${message} != null">
						<h3 class ="panel-title"><strong th:text="${message}"></strong></h3>
					</div>
					<div class="panel-heading bg-red">
						<h3 class ="panel-title"><strong th:text="#{page.heading.facility-speciality-treatment-method-practitioner-stats}">FacilitySpecialityTreatmentMethodPractitionerStats</strong></h3>
					</div>
					<div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 m-b-20">
                                    <div class="btn-group">
                                       <a id="table-edit_new" class="btn btn-danger" th:href="@{'/facility-speciality-treatment-method-practitioner-stats/edit'}">
                                            Add New <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                      <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                            <table class="table table-striped table-hover dataTable" id="table-editable">          
								<thead>
									<tr>
										<th th:text="#{facility-speciality-treatment-method-practitioner-stats.id}">id</th>
							<th th:text="#{facility-speciality-treatment-method-practitioner-stats.description}">description</th>
							<th th:text="#{facility-speciality-treatment-method-practitioner-stats.stat}">stat</th>
							<th th:text="#{facility-speciality-treatment-method-practitioner-stats.facility_speciality_treatment_method_practitioner}">facility_speciality_treatment_method_practitioner</th>
							
										<th class="text-center sorting" th:text="#{page.text.options}">Options</th>
									</tr>
								</thead>
						<tbody>							
								<tr th:each="model :${models}">
								<td th:text="${model.id}"></td>
								<td th:text="${model.description}"></td>
								<td th:text="${model.stat}"></td>
								<td th:text="${model.facilitySpecialityTreatmentMethodPractitioner}"></td>
								
								<td class="text-center">
								<a class="edit btn btn-dark" th:href="@{'/facility-speciality-treatment-method-practitioner-stats/edit'(id=${model.id})}"><i class="fa fa-pencil-square-o"></i>
								Edit
								</a>								
								<a class="delete btn btn-danger" th:href="@{'/facility-speciality-treatment-method-practitioner-stats/delete'(id=${model.id})}">
								<i class="fa fa-times-circle"></i>
								Remove								
								</a>
								</td>
								</tr>							
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
</div>
</html>
