<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::page">
<body>
	<main id="main-content" th:fragment='content'>	
	  <div class="wrap">
			<aside th:replace="fragments/practitionersidebar :: sidebar"></aside>
			<div id="container">
				<div class="my-block">
					<h3 class="hel-med fs-16 title-in">
						<a th:href="@{/home/practitioner}" th:text="#{page.hospital.practitioner.edit.back_to_dashboard}">Back to Dashboard</a>	                    
					</h3>
					<form th:action="@{/home/practitioner/treatment}" th:object="${practitionerTreatmentForm}" method="post">
					<input type="hidden" th:field="*{healthcareprovider}"/>
					<input type="hidden" th:field="*{practitioner}"/>
						<h3 class="hel-med fs-16" th:text="#{page.hospital.practitioner.treatments}"></h3>                          
                            <ul class="my-form mt-20">
                                <li>
                                    <label for="treatments" th:text="#{page.hospital.practitioner.treatments.specialty}">Specialty:</label>
                                    <select class="my-select practitioner-specialty-treatment specialty mw-240" th:field="*{practitionerSpecialty}" required="required">
                                        <option th:each="specialtyModel : ${practitionerSpecialtyList}" th:value="${specialtyModel.id}" th:text="${specialtyModel.name}">Body Odour</option>                                        
                                    </select>
                                </li>
                                <li>
                                   <ul class="row my-scroll-block">
                                        <li class="fl w-40 pr-20">
                                            <h3 class="hel-med fs-16" th:text="#{page.hospital.practitioner.treatments.available_treatments}">Available Treatments:</h3>
                                            <div class="my-scroll">
                                                <select th:field="*{treatments}" multiple="multiple" class="mylistbox listbox treatment">
											      <option th:each="treatmentModel : ${treatmentList}" th:value="${{treatmentModel.id}}" th:text="${treatmentModel.name}">Alderaan</option>											     
											    </select>
                                            </div>
                                        </li>
                                        <li class="fl tc w-20">
                                            <div class="my-btn-block top single w-20">
                                                <button class="btn btn-fixed btn-gray addbtn" type="button" th:text="#{page.hospital.specialty.btn_add}">Add &gt;</button>
                                                <button class="btn btn-fixed btn-gray removebtn" type="button" th:text="#{page.hospital.specialty.btn_remove}">&lt; Remove</button>
                                            </div>
                                            <div class="my-btn-block bottom single w-20">
                                                <button class="btn btn-fixed btn-gray addallbtn" type="button" th:text="#{page.hospital.specialty.btn_add_all}">Add all</button>
                                                <button class="btn btn-fixed btn-gray removeallbtn" type="button" th:text="#{page.hospital.specialty.btn_remove_all}">Remove all</button>
                                            </div>
                                        </li>
                                        <li class="fr w-40 pl-20">
                                            <h3 class="hel-med fs-16">
                                            	<span th:text="#{page.hospital.practitioner.treatments.performing}">Performing </span>                                            
                                            </h3>
                                            <div class="my-scroll">
                                                <select th:field="*{selectedTreatment}" multiple="multiple" class="mylistbox1 listbox selectedTreatment" required="required">											    											     
											    </select>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                             <div class="tc my-btn-block">
                                <button class="btn btn-sm btn-dk-blue btn-cancel" type="reset" th:text="#{page.hospital.treatment.btn_cancel}">Cancel</button>
                                <button class="btn btn-sm btn-blue btn-list-submit" type="submit" th:text="#{page.hospital.treatment.btn_save_changes}">Save Changes</button>
                            </div>                     
					</form>
				</div>
			</div>
			<script type="text/javascript" th:inline='javascript'>
			$(document).ready(function() {			
				$("select.specialty").change(function(){
					/*<![CDATA[*/	
						var hosturl = /*[[${application.hostbaseurl} ]]*/;
						var specialty = $(this).val();
						var specialtyName = $("select.specialty :selected").text();						
						var practitioner = $('#practitioner').val();
						var healthcareprovider = $('#healthcareprovider').val();
						var options = '';
						$.ajax({
								url:hosturl+'/home/practitioner/specialty-treatment?practitioner='+practitioner+'&healthcareprovider='+healthcareprovider+'&specialty='+specialty,
								async: false, 
								success : function(data){								
									    if(data.length > 0){						
									    	options = '<optgroup label="Common in '+specialtyName+'">';
									    	$(data).each(function(index){
									    		options += '<option value="' + data[index].id + '">' + data[index].name + '</option>';						    		
									    	});						 
									    	options += '</optgroup>';					           						           
									    }
								}
						});
						
						$.ajax({
							url:hosturl+'/home/practitioner/specialty-other-treatment?practitioner='+practitioner+'&healthcareprovider='+healthcareprovider+'&specialty='+specialty,
							async: false, 
							success : function(data){						    
								    if(data.length > 0){						
								    	options += '<optgroup label="Other treatments">';
								    	$(data).each(function(index){
								    		options += '<option value="' + data[index].id + '">' + data[index].name + '</option>';						    		
								    	});						 
								    	options += '</optgroup>';							            						           
								    }
							}
						});						
						$('.treatment').html(options);
						$.ajax({
							url:hosturl+'/home/practitioner/specialty-treatment-selected?practitioner='+practitioner+'&healthcareprovider='+healthcareprovider+'&specialty='+specialty,
							success : function(data){						    
								    if(data.length > 0){								    	
								    	var options = '';
								    	$(data).each(function(index){
								    		options += '<option value="' + data[index].id + '">' + data[index].name + '</option>';						    		
								    	});						    							    	
							            $('.selectedTreatment').html(options);						           
								    }
							}
					});
							
					}).change();
				  /*]]>*/
			});	
			</script>
		</div>
	</main>
</body>
</html>