<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid bg-color"  id="employee" th:fragment="login">
	    <div class="container pt-128 pb-80">
	        <div class="row">
	            <div class="col-md-6 col-xs-12 col-sm-6">
	                <h1 class="fa-42">Surgery Shopping Online</h1>
	                	<form name="loginform" id="loginform" th:object="${loginform}" method='post' class="mt-20" th:action="@{/login.do}">
	                        <div class="form-group">
	                        	<input type="email" placeholder="Email Address" class="wt-350" required="required" th:field="*{email}"/>
	                        </div>
	                        <div class="form-group">
	                            <input type="password" placeholder="Password" class="wt-350" required="required" th:field="*{password}"/>
	                        </div>	                        
	                        <div class="form-group">	                           
	                            <button type="submit" class="btn login-b">Login</button>
	                            <a th:href="@{/forgot}" class="forgot-txt" th:text="#{signin.forgot_my_password}">Forgot Password</a>
	                        </div>
	                    </form>
	            </div>
	            <div class="col-md-6 col-xs-12 col-sm-6 img-pt-50">
	                <figure class="img-responsive login-img">	                   
	                </figure>
	            </div>
	        </div>
	    </div>
</div>
</body>
</html> 