<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid bg-color"  id="employee" th:fragment="search">
	    <div class="container pt-128 pb-80">
	        <div class="row">
	            <div class="col-md-6 col-xs-12 col-sm-6">
	                <h1 class="fa-42">Surgery Shopping Online</h1>
	                	<form id="searchform" th:action="@{/search}" th:object="${searchForm}" method="post">
	                        <div class="search-block">
	                      	    <input type="hidden" class="form-control" th:field="*{id}"/>
	                            <input type="search" th:field="*{query}" th:errorclass="has-error" th:placeholder="#{search.placeholder.text}"/>
	                            <button type="submit" class="btn-search btn ico ico-sm-search" th:text="#{input.button.findcare}" style="font-size:19px;">Find Care</button>
	                        </div>                       
	                    </form>
	            </div>
	            <div class="col-md-6 col-xs-12 col-sm-6 img-pt-50">
	                <figure class="img-responsive login-img"></figure>
	            </div>
	        </div>
	          <script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				$("#search").validate({
					errorClass : "text-danger",
					rules : {
						query : "required"
					},
					messages : {
						query : "Please enter query"
					}
				});
				$("#query").autocomplete({
					source: function( request, response ) {
						$.ajax({
							url: /*[[${application.autocompleteurl}]]*/ 'http://localhost:8080/patient/autocomplete/search',
							data: {
								name: request.term,							
							},							
							success: function( data ) {								
								response($.map(data, function( item ) {									
				                    return {
				                    	id: item.id,
				                    	value: item.name
				                    }
								}));
							}
						});
					},
				    select: function (event, ui) {
				        $("#id").val(ui.item.id);
				    },
				    search: function(event, ui) {
				    	$("#id").val(null);
				    },
					minLength: 2
				});
			});		           
		/*]]>*/
	</script>
	    </div>
</div>
</body>
</html> 