<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<div class="box" id="termsdialog" th:fragment="termsandconditions">
	<div class="box-header">
		<h3 th:utext="#{page.termsandconditions.heading}">Terms And Conditions</h3>
		<div th:utext="#{page.termsandconditions.termsconditions1}"></div>			
		<div th:utext="#{page.termsandconditions.termsconditions2}"></div>
		<div th:utext="#{page.termsandconditions.termsconditions3}"></div>
		<div th:utext="#{page.termsandconditions.termsconditions4}"></div>
		<div th:utext="#{page.termsandconditions.termsconditions5}"></div>
	</div>	
</div>
</body>
</html>