<!DOCTYPE html>
<html xmlns="://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
		<meta charset="utf-8"/>
        <title th:text="#{page.title}">DoctorGlobe</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1, user-scalable=no"/>
        
        <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>        
    	<link rel="stylesheet" th:href="@{/resources/styles/bootstrap.min.css}"/>    	
    	<link rel="stylesheet" th:href="@{'/resources/styles/custom.min.css'}"/>
    	<link th:href="@{/webjars/fancybox/2.1.5/jquery.fancybox.css}" rel="stylesheet" />
    	<link rel="stylesheet" th:href="@{/resources/styles/jquery-ui.css}"/>
    	<link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet"/>
    	<link rel="stylesheet" th:href="@{/resources/styles/img.css}"/>    	
    	<link rel="stylesheet" th:href="@{'/resources/styles/'+${theme}+'whitelabel.css'}" th:if="${theme != null}"/>
    	<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>   
    	<script th:src="@{/resources/scripts/jquery-ui.js}"></script>
		<script th:src="@{/webjars/jquery-validation/1.11.1/jquery.validate.js}"></script>   
    	<script th:src="@{/webjars/fancybox/2.1.5/jquery.fancybox.js}"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    	<script th:src="@{/resources/scripts/jquery.prettyPhoto.js}"></script>     	
    	<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>       		
    	<script th:src="@{/resources/scripts/custom.min.js}"></script>        
</head>
<body>
	    <div th:replace="fragments/header_new :: header"></div>
		<div th:include="this::content" id="main-content"></div>	
		<div th:replace="fragments/footer_new :: footer"></div>			
</body>
</html>
