<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout::page" class='sidebar-large'>
<div class="container" th:fragment="content">					
<div class="page-title"> <i class="icon-custom-left"></i>               
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading bg-red">
							<h3 class ="panel-title"><strong th:text="#{page.heading.patientconference}">Patientconference</strong></h3>
						</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                <form action="#" th:action="@{/patientconference/save}" th:object="${patientconference}" method="post" id="patientconference" class="form-horizontal">
					<div class="form-group">
	                                   <ul>
		   <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                   <span class='text-danger' th:text="${e.global}?'*':${e.fieldName}">The field name </span> 
                   | <span class='text-danger' th:text="${e.message}">The error message</span>                   
                   </li>
                </ul>
					<div th:errors="${patientconference}"></div>
					</div>
                                	<input type="hidden" class="form-control" th:field="*{id}" th:value="*{id}"/>
                                                              <div class='form-group'>
                                            <label class='col-sm-3 control-label'>Conference_dt<span class='asterisk'>*</span>
                                            </label>
                                            <div class='col-sm-9'>
                                              <input type="text" required=''  class='form-control date-picker' th:field="*{conferenceDt}" th:value="*{conferenceDt}"/>   
                                            </div>
                                        </div>
                      <div class='form-group'>
                                            <label class='col-sm-3 control-label'>Status<span class='asterisk'>*</span>
                                            </label>
                                            <div class='col-sm-9'>
                                              <select th:field="*{status}" class="form-control">
												<option th:value="Created" th:text="Created"></option>
												<option th:value="Proposed" th:text="Proposed"></option>
												<option th:value="Rejected" th:text="Rejected"></option>
												<option th:value="Accepted" th:text="Accepted"></option>
												<option th:value="Confirmed" th:text="Confirmed"></option>
											  </select>   
                                            </div>
                                        </div>
                      <div class='form-group'>
                                            <label class='col-sm-3 control-label'>healthcareprovider_specialty_treatment_method_practitioner<span class='asterisk'>*</span>
                                            </label>
                                             <div class='col-sm-9'>
                                              <select th:field="*{healthcareproviderSpecialtyTreatmentMethodPractitioner}" class="form-control">
                                                <option th:each = "var : ${healthcareproviderSpecialtyTreatmentMethodPractitionerList}" th:value="${var.id}" th:text="${var.id}"></option>
                                              </select>                                                                                                 
                                     		 </div>
                                        </div>
                      <div class='form-group'>
                                            <label class='col-sm-3 control-label'>Patient_case<span class='asterisk'>*</span>
                                            </label>
                                            <div class='col-sm-9'>
                                              <select th:field="*{patientCase}" class="form-control">
												<option th:each="var : ${patientcaseList}"
												th:value="${var.id}" th:text="${var.description}"></option>
											  </select>   
                                            </div>
                                        </div>

                                                                          
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <div class="pull-right">
                                                <button class="btn btn-primary m-b-10" onclick="javascript:$('#patientconference').parsley('validate');" th:text="#{page.button.submit}">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
</div>
</div>
</html>
