<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout::page"
	class='sidebar-large'>
<div class="container" th:fragment="content">
	<div class="page-title">
		<i class="icon-custom-left"></i>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading bg-red">
					<h3 class="panel-title">
						<strong th:text="#{page.heading.questionnaire}">questionnaire</strong>
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<form action="#" th:action="@{/questionnaire/save}"
								th:object="${questionnaire}" method="post" id="treatment"
								class="form-horizontal">
								<div class="form-group">
									<ul>
										<li th:each="e : ${#fields.detailedErrors()}"
											th:class="${e.global}? globalerr : fielderr"><span
											class='text-danger' th:text="${e.global}?'*':${e.fieldName}">The
												field name </span> | <span class='text-danger'
											th:text="${e.message}">The error message</span></li>
									</ul>
									<div th:errors="${questionnaire}"></div>
								</div>
								<input type="hidden" class="form-control" th:field="*{id}"
									th:value="*{id}" />
								<div class='form-group'>
									<label class='col-sm-3 control-label'
										th:text="#{questionnaire.name}">Name<span class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{name}" th:value="*{name}" />
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'
										th:text="#{questionnaire.name}">Name<span class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<select th:field="*{type}" class="form-control">
                                              	<option th:value="Select" th:text="Select"></option>
                                              	<option th:value="Radiobutton" th:text="Radiobutton"></option>                               
                                              	<option th:value="Textbox" th:text="Textbox"></option>
                                              	<option th:value="Textarea" th:text="Textarea"></option>
                                        </select>                                   
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-3 control-label'
										th:text="#{questionnaire.value}">value<span class='asterisk'>*</span>
									</label>
									<div class='col-sm-9'>
										<input type="text" required='' class='form-control'
											th:field="*{value}" th:value="*{value}" />
									</div>
								</div>
								<div class="col-sm-9 col-sm-offset-3">
									<div class="pull-right">
										<button class="btn btn-primary m-b-10"
											onclick="javascript:$('#questionnaire').parsley('validate');"
											th:text="#{page.button.submit}">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
